body, p, table, tr, td, strong, h1, h2, h3, h4, h5, h6, blockquote, li {
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#top-panel {
  height: 52px;
  background-color: #F7F9F8;
  background-repeat: no-repeat;
  background-image: url('../img/saltstack_logo.png');
}

#top-panel, #login-field SPAN, #login-field A {
  color: #333;
}

#top-panel img:first-child {
  background-image: none;
  display: none;
}

#search-box {
  margin-top: 8px;
}
