body, p, table, tr, td, strong, h1, h2, h3, h4, h5, h6, blockquote, li {
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#top-panel {
   background-image: none;
   background: black;
}

#top-panel img:first-child {
   display:none;
}

#search-box {
   margin-top: 8px;
}
