{% set default_build_id = '0001' %}
{% set settings = {
    'git_url': salt['config.get']('git_url', 'https://github.com/saltstack/salt.git'),
    'git_commit': salt['config.get']('git_commit', 'develop'),
    'build_id': salt['config.get']('build_id', default_build_id),
    'master_id': 'test-halite-master-{0}'.format(salt['config.get']('build_id', default_build_id)),
    'num_minions': salt['config.get']('num_minions', '1') | int,
    'ui_tester_password': salt['config.get']('ui_tester_password', 'U1234567'),
    'ui_tester_password_hash': salt['config.get']('ui_tester_password_hash', '$6$GubOGQhH8TR6F/XU$RCEtMLSHFVzNrKfoASfbpr37U83Mx8MAUzWVUi3qY0RRjCv/IcsSi06kgXUXY9Cj2Neg8TOypgOoB2fcndoU20')
}
%}
